{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
  <div class="content">
    <div class="form-main-content center">
      <h2>{% trans "Add Photo to" %} {{ zone.name }}</h2>
      <form method="post" action="{% url 'add_photo' zone_id=zone.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ photo_form.as_p }}
        <button type="submit" class="btn-add-back">{% trans "Add Photo" %}</button>
      </form>
        <button class="btn-add-back"><a href="{% url 'zone_detail' pk=zone.id %}">{% trans "Back to Zone"%}</a></button>
    </div>
  </div>
</div>
{% endblock %}