{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {{ block.super }}{% endblock title %}
{% block content %}
  <h2>Select Plants  </h2>

  <form method="post" action="{{ request.path }}?plant={{ request.GET.plant }}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Add Plant</button>
  </form>
  <a href="{% url 'zone_detail' pk=zone.id %}" class="btn btn-primary">Back to Zone</a>
  <h3>Photos</h3>
  {% for photo in zone.photos.all %}
    <div>
        {% if photo.image %}
            <img src="{{ photo.image.url }}" alt="Photo">
        {% else %}
            <p>No image available</p>
        {% endif %}
        <p>season: {{ photo.season }}</p>
    </div>
{% endfor %}
{% endblock %}