{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
  <div class="content">
      <div class="form-main-content center">
      <h2>{% trans "Create zone for" %} {{ project.project_name }}</h2>
      <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        {{ zone_form.as_p }}
        <button type="submit" class="btn-add-back">{% trans "Create" %}</button>
        <button class="btn-add-back"><a href="{% url 'project_detail' pk=project.id %}">{% trans "Cancel" %}</a></button>
      </form>
    </div>
  </div>
</div>
{% endblock %}