{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
  <div class="content">
      <div class="form-main-content center">
      <h2>{% trans "Confirm Deletion" %}</h2>
      <p>{% trans "Are you sure you want to delete the zone" %} "{{ zone.name }}"?</p>
      <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        <button type="submit" class="btn-remove">{% trans "Yes, Delete" %}</button>
      </form>
      <button class="btn-add-back"><a href="{% url 'zone_detail' pk=zone.id %}">{% trans "cancel"|capfirst %}</a></button>
    </div>
  </div>
</div>
{% endblock %}