{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans "Plant types"|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
    <div class="content">
        <div class="main-content">
        <h1>{% trans "gallery"|title %}</h1>
        <div class="card-list">
            {% for photo in photos %}
            <div class="card">
                <li>
                    <h3>{{ photo.zone.project.project_name }}</h3>
                    <p>{% trans "created by:"|capfirst %}  {{ photo.zone.project.user }}</p>
                    <img src="{{ photo.image.url }}" alt="Photo">
                    <p>{% trans "season" %}: {{ photo.season }}</p>
                </li>
            </div>
            {% endfor %}               
        </div>
        </div>
    </div>
</div>
{% endblock content %}