{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
  <div class="content">
    <div class="main-content">
      <h1>{% trans "my projects"|title %}</h1>
      <a href="{% url 'create_project' %}" class="btn btn-success">{% trans "create new project"|capfirst %}</a>
      <div class="card-list">
      {% for project in project_list %}
        <div class="card">
            <h2>{{ project.project_name }}</h2>
            <p>{% trans "Created by" %}: {{ project.user.username }}</p>
            {% if project.description %}
          <h5>{% trans "description"|capfirst %} <p>{{ project.description|safe }}</p></h5>
          {% endif %}
            <a href="{% url 'project_detail' pk=project.id %}" class="btn btn-primary">{% trans "View Details" %}</a>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}






