{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans "plants list" %}{{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
    <div class="content center">
        <div class="main-content">
            {% include "gardenplaner/inc/pager.html" %}
            {% if object_list %}
                <div class="plant-list center">
                <ul>
                {% for plant in object_list %}
                {% if LANGUAGE_CODE == "lt" %}
                    <li class="data-menu center">
                        <p><strong>{% trans "name"|capfirst %}: </strong> {{ plant.name_lt }}
                        <strong>{% trans "type"|capfirst %}:</strong> {{ plant.type.name_lt }}
                        <strong>{% trans "planting time"|capfirst %}:</strong> {{ plant.planting_time }}</p>
                    </li>
                    {% else %}
                    <p><strong>{% trans "name"|capfirst %}:</strong> {{ plant.name_en }}
                        <strong>{% trans "type"|capfirst %}:</strong> {{ plant.type.name_en }}
                        <strong>{% trans "planting time"|capfirst %}:</strong> {{ plant.planting_time }}</p>
                    </li>
                {% endif %}
                {% endfor %}
                </ul>
                </div>
            {% else %}
                <p>{% trans "No plant available" %}</p>
            {% endif %}
        </div>
    </div>
</div>    
{% endblock content %}