{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
  <div class="content">
    <div class="main-content">
        <div class="dropdown">
          <button class="dropbtn"><img src="{% static '/img/bars-solid.svg' %}" alt="Bars Icon" style="width: 24px; height: 24px; color: #22511f;">
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a class="dropdown-item" href="{% url 'update_project' pk=project.id %}">{% trans "Update project"|capfirst %}</a>
            <form method="post" action="{% url 'delete_project' pk=project.id %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger"><a href="{% url 'delete_project' pk=project.id %}">{% trans "Delete project"|capfirst %}</a></button>
            </form>
          </div>
        </div>
        <h1>{{ project.project_name }}</h1>
        <p>{% trans "created by:"|capfirst %} 
          {{ project.user.username }}</p>
        <p>{% trans "public:"|capfirst %}
          {% if project.public %}{%trans "yes" %}
          {% else %}{% trans "no" %}{% endif %}</p>
        <p>{% if project.description %}
            <h3>{% trans "description:"|capfirst %}</h3>
            {{ project.description|safe }}
            {% endif %}</p>
        <button type="submit" class="btn btn-danger"><a href="{% url 'create_zone' project_id=project.id %}" class="btn btn-success">{% trans "Create Zone"|capfirst %}</a></button>
        <a href="{% url 'my_projects' %}" class="btn btn-primary center">{% trans "Back to My Projects" %}</a>
        <div class="card-list">
            {% if zones.all %}
            {% for zone in zones.all %}
            <div class="card">
              <li>
                <p><a href="{% url 'zone_detail' pk=zone.id %}">{{ zone.name }}</a></p>
                <p class="card-text">{% trans "Length"|capfirst %}: {{ zone.lenght }}</p>
                <p class="card-text">{% trans "Width"|capfirst %}: {{ zone.width }}</p>
                <a href="{% url 'delete_zone' project_id=project.id pk=zone.id %}">{% trans "Delete Zone"|capfirst %}</a>
              </li>
            </div>
            {% endfor %}
            {% else %}
              <p>{% trans "No Zones created yet" %}</p> 
            {% endif %}
            <a href="{% url 'my_projects' %}" class="btn btn-primary center">{% trans "Back to My Projects" %}</a>
        </div>
    </div>
  </div>
</div>

{% endblock %}
