{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
  <div class="content">
      <div class="form-main-content center">
      <h1>{% trans "Update Project" %}: {{ project.project_name }}</h1>
      <form method="post" action="{% url 'update_project' pk=project.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Save changes" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}