{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
  <div class="content">
    <div class="main-content">
      <h2>{{ zone.name }}</h2>
      <p class="card-text">{% trans "Length"|capfirst %}:  {{ zone.lenght }} m.</p>
      <p class="card-text">{% trans "Width"|capfirst %}: {{ zone.width }} m.</p>
      <p class="card-text">{% trans "Project"|capfirst %}: {{ zone.project.project_name }}</p>
      <p class="card-text">{% trans "Description"|capfirst %}: {{ zone.description }}</p>
      <button type="submit" class="btn-add-back"><a href="{% url 'update_zone' pk=zone.id %}">{% trans "Update Zone" %}</a></button>
      <h3 class="separator"></h3>
      <h2>{% trans "Select Plant" %}</h2>
      <form method="GET" action="{% url 'add_plant' zone_id=zone.pk %}">
        {{ plants_dropdown_form.as_p }}
        <button type="submit" class="btn-add-back">{% trans "Add Plant" %}</button>
      </form>
      <table class="plant-table center">
        <tr>
            <th>{% trans "name"|capfirst %}</th>
            <th>{% trans "color"|capfirst %}</th>
            <th>{% trans "blooming period"|capfirst %}</th>
            <th>{% trans "unit price"|capfirst %}</th>
            <th>{% trans "qty"|capfirst %}</th>
            <th>{% trans "actions"|capfirst %}</th>
        </tr>
        {% for zone_plant in zone.zone_plants.all %}
            <tr class="data-meniu center" >
              {% if LANGUAGE_CODE == "lt" %}
                <td>{{ zone_plant.plant.name_lt }}</td>
                <td>{{ zone_plant.color.name_lt }}</td>
              {% else %}
                <td>{{ zone_plant.plant.name_en }}</td>
                <td>{{ zone_plant.color.name_en }}</td>
                {% endif %}
                <td>{{ zone_plant.blooming_period }}</td>
                <td>{{ zone_plant.price }} EUR</td>
                <td>{{ zone_plant.qty }}</td>
                <td>
                    <form method="post" action="{% url 'delete_zone_plant' zone_id=zone.id pk=zone_plant.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn-remove">{% trans "Remove plant"|capfirst %}</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <h3 class="separator"></h3>
    <button class="btn-add-back"><a href="{% url 'add_photo' zone_id=zone.pk %}">{% trans "ADD Photo"|capfirst %}</a></button>
    <div class="card-list">
    {% for photo in zone.photos.all %}
      <div class="card">
          {% if photo.image %}
              <img src="{{ photo.image.url }}" alt="Photo">
          {% else %}
              <p>{% trans "No image available" %}</p>
          {% endif %}
          <p>season: {{ photo.season }}</p>
          <form method="post" action="{% url 'delete_zone_photo' zone_id=zone.id pk=photo.id %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn-remove">{% trans "Remove photo"|capfirst %}</button>
        </form>
      </div>
    {% endfor %}
    </div>
    <button class="btn-add-back"><a href="{% url 'project_detail' pk=zone.project.id %}">{% trans "Back to Project" %}</a></button>
    </div>
  </div>
</div>
{% endblock %}