{% load static i18n%}
<li class="center">
    {% if LANGUAGE_CODE == "lt" %}
        <h4>{{ plant_type.name_lt }}</h4>
        <p>{{ plant_type.description_lt }}</p>
    {% else %}
        <h4>{{ plant_type.name_en }}</h4>
        <p>{{ plant_type.description_en }}</p>
    {% endif %}
    <li>
        {% if plant_type.image %}
            <img class="plant-type-photo" src="{{ plant_type.image.url }}">
        {% else %}
        <img class="plant-type-photo" src="{% static "img/logo.png" %}"> 
        {% endif %}
    </li>
</li>